/*雪碧图*/

.sp {
    background: url("sp.png");
}
.icon1 {
    width: 28px;
    height: 55px;
    background-position: -10px -10px;
    position: absolute;
    right: 5%;
    top: 7%;
    /* bottom:  0; */
    /* right: 0; */
}
.icon2 {
    width: 34px;
    height: 29px;
    background-position: -10px -75px;
    /* padding-top:  10px; */
}
.bg-Status_Bar {
    width: 616px;
    height: 23px;
    background: url('css_sprites.png') -10px -10px;
}
.bg-rectangle1 {
    width: 34px;
    height: 4px;
    background: url('css_sprites.png') -177px -53px;
    margin-top: 15%;

}
.bg-rectangle2 {
    width: 34px;
    height: 4px;
    background: url('css_sprites.png') -177px -53px;
    /* margin-bottom: 1%; */
    margin-top:  1%;
}
.bg-rectangle3 {
    width: 34px;
    height: 4px;
    background: url('css_sprites.png') -177px -53px;
    margin-top:  1%;
}
/*颜色*/

.my-color1 {
    background-color: #29BDDF;
    height: 15%;
    padding-left: 5%;
    padding-bottom:  5%;
}
.my-color2 {
    background-color: #999999;
}
.my-padding {
    padding-top: 2%;
    padding-bottom: 2%;
}
.lastGame {
    /* text-align: center; */
    font-size: 3vh;
    color: #999999;
    /* height:  10%; */
    /* position:  absolute; */
}
.zgGame {
    text-align: center;
    font-size: 3vh;
    color: #FAB335;
    padding: 4%;
}
.version-text {
    background-color: #69D1E9;
    color: #FFFFFF;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    margin-bottom: 0;
    padding: 5%;
    margin-left: 14%;
    margin-right: 14%;
}
.version {
    display: flex;
    justify-content: center;
    height: 13%;
    margin: 2%;
    position: relative;
    /* width:  101%; */
}
.player-Numbers {
    color: #787878;
    font-size: 2vh;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: center;
    margin: 1%;
}
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dots span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
}
.dots {
    display: flex;
    align-items: end;
}
.dots span:nth-of-type(1) {
    background-color: #69D1E9;
}
.flex-center {
    display: flex;
    justify-content: center;
}
.row-lastGame {
    height: 10%;
    display: flex;
    justify-content:  center;
    align-items:  center;
    width: 100%;
    background-color:  #ffffff;
    display:  inline-flex;
    margin-top:  5%;
}
.row-game {
    /* margin-bottom: 10%; */
}
.version {}
body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color:  #f0f0f0;
}
.container {
    text-align:  center;
    height: 100%;
    background-color: #f0f0f0;
    /* display:  flex; */
    /* align-items:  center; */
}
.game{
    background-color: #fff;
    margin-top: 5%;
}
.bg-Back___Icon {
    width: 24px; height: 40px;
    background: url('css_sprites.png') -58px -53px;
}
.bg-Triangle {
    width: 28px; height: 56px;
    background: url('css_sprites.png') -10px -53px;
}
.bg-Ellipse_2 {
    width: 17px; height: 18px;
    background: url('css_sprites.png') -140px -53px;
}.bg-Ellipse_1 {
    width: 18px;
    height: 18px;
    background: url('css_sprites.png') -102px -53px;
}