  * {
        margin: 0
    }

    div.main.clearfix {
        max-width: 700px;
        max-height: 700px;
    }

    .box {
        width: 25%;
        /*max-width: 100px;*/
        padding-bottom: 25%;
        background-color: yellow;
        margin: 1%;
        border-radius: 20px;
        float: left;
    }
