/*雪碧图*/

.bg-f4 {
    width: 136px; height: 30px;
    background: url('css_sprites.png') -37px -10px;
}


.bg-menu {
    width: 39px; height: 40px;
    background: url('css_sprites.png') -109px -60px;
}

x
.bg-playButton {
    width: 52px; height: 52px;
    background: url('css_sprites.png') -37px -60px;
}


.bg-ProgressBar {
    width: 7px; height: 544px;
    background: url('css_sprites.png') -10px -10px;
}


.bg-rectangle {
    width: 14px; height: 13px;
    background: url('css_sprites.png') -93px -132px;
}


.bg-x {
    width: 36px; height: 36px;
    background: url('css_sprites.png') -37px -132px;
}
/*全局*/

body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    background-color: #29BDDF;
}

.container{height: 100%}
.header{
    height: 15%;
}