/*全局相关**************************
***********************************/

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
/*雪碧图*/

.sp {
    background: url("sp.png") top left no-repeat;
}
.icon1 {
    width: 60px;
    height: 60px;
    background-position: -10px -10px;
}
.icon2 {
    width: 17px;
    height: 30px;
    background-position: -10px -80px;
    position: absolute;
    right: 0;
}
.icon3 {
    width: 35px;
    height: 30px;
    background-position: -10px -120px;
}
.icon4 {
    width: 31px;
    height: 30px;
    background-position: -37px -80px;
}
.icon5 {
    width: 29px;
    height: 30px;
    background-position: -10px -160px;
    position: absolute;
    right: 5%;
}
.header {
    height: 8%;
    background-color: #5FBFCD;
    display: flex;
    justify-content: center;
}
.container {
    height: 100%;
}
.my-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 93%; */
}
.list-header {
    color: #999999;
    display: flex;
    justify-content: space-around;
    font-size: 3vh;
    margin: 3% 0 4% 0;
}
.findEmployer {
    text-align: center;
    background-color: #54A7B2;
    border-radius: 10px !important;
    color: #FFFFFF;
}
.findEmployee {
    color: #54A7B2;
    background-color: #FFFFFF;
    border-radius: 10px !important;
    margin-left: -2% !important;
}
.dropdown-menu {
    min-width: 0 !important;
}
/* list*************************************
************************************* */

.list p {
    margin: 0;
}
.list {
    height: 73%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    position: relative;
}
.list div:nth-of-type(1) {
    margin-top: 0;
}
.list-child {
    width: 88%;
    margin-top: 50px;
    font-size: 2.5vh;
    margin-right: 5%;
}
.second-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list-child-time {
    color: #999999;
}
.list-child-location {
    /* font-size: 26px; */
    color: #999999;
}
.second-line p:nth-of-type(1) {
    color: #333333;
    text-overflow: ellipsis;
    white-space: nowrap;
   
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.second-line p:nth-of-type(2) {
    color: #E53B0D;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*footer*/

.footer {
    display: flex;
    justify-content: space-around;
}
.footer-child1, .footer-child3 {
    text-align: center;
    color: #5FBFCC;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-child3 {
    text-align: center;
    color: #999999;
}
.footer p {
    margin: 0;
}